@model GopherToolboxRefresh.Models.Quest

@{
	ViewData["Title"] = "Usuń Quest";
}

<div class="card">
	<div class="card-body">
		<h1 class="card-title">@Model.Name</h1>
		<div class="quest-details">
			<div class="quest-image">
				<img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" />
			</div>
			<div class="quest-info card-text">
				<p><strong>Miasto:</strong> @Model.City</p>
				<p><strong>Adres:</strong> @Model.Address</p>
				<p><strong>Data rozpoczęcia Questa:</strong> @Model.QuestDateStart.ToShortDateString()<br></p>
				<p><strong>Godzina rozpoczęcia:</strong> @Model.QuestDateStart.ToString("HH:mm")<br></p>
				<p><strong>Data zakończenia zadania:</strong> @Model.QuestDateEnd.ToShortDateString()<br></p>
				<p><strong>Godzina zakończenia:</strong> @Model.QuestDateEnd.ToString("HH:mm")<br></p>
				<p><strong>Ilość miejsc:</strong> @Model.CurrentOccupiedSlots / @Model.SlotLimit <br /></p>
				<p>@Model.Description</p>
			</div>
		</div>
		<hr />
		<form asp-action="Delete">
			<input type="hidden" asp-for="Id" />
			<input type="submit" value="Usuń" class="btn btn-danger" />
			<a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
		</form>
	</div>
</div>
