@model GopherToolboxRefresh.Models.Quest

@{
    ViewData["Title"] = "Szczegóły";
}

<div class="card">
	<div class="card-body adminSets">
		<h2 class="card-title">Szczegóły: @Model.Name</h2>
		<div class="quest-details">
			<div class="quest-image">
				<img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" />
			</div>
			<div class="quest-info card-text">
				<p><strong>Miasto:</strong> @Model.City</p>
				<p><strong>Adres:</strong> @Model.Address</p>
				<p><strong>Data rozpoczęcia Questa:</strong> @Model.QuestDateStart.ToShortDateString()<br></p>
				<p><strong>Godzina rozpoczęcia:</strong> @Model.QuestDateStart.ToString("HH:mm")<br></p>
				<p><strong>Data zakończenia zadania:</strong> @Model.QuestDateEnd.ToShortDateString()<br></p>
				<p><strong>Godzina zakończenia:</strong> @Model.QuestDateEnd.ToString("HH:mm")<br></p>
				<p><strong>Ilość miejsc:</strong> @Model.CurrentOccupiedSlots / @Model.SlotLimit <br /></p>
				<p>@Model.Description</p>
			</div>
		</div>
        <hr />
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edytuj</a>
        <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
    </div>
</div>