@model IEnumerable<GopherToolboxRefresh.Models.Quest>

@{
    ViewData["Title"] = "Questy";
}

<h1>Questy</h1>

<a asp-action="Create" class="btn btn-primary">Stwórz nowego Questa</a>

<div class="card adminSets">
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Miasto</th>
                <th>Adress</th>
                <th>Data Startu</th>
                <th>Data Końca</th>
                <th>Ilość ludzi</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.City</td>
                    <td>@item.Address</td>
                    <td>@item.QuestDateStart.ToShortDateString()</td>
                    <td>@item.QuestDateEnd.ToShortDateString()</td>
                    <td>@item.SlotLimit</td>
                    <td width="260px;">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edytuj</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Szczegóły</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>