@model GopherToolboxRefresh.Models.Quest

@{
	ViewData["Title"] = "Szczegóły Questa";
	var activeQuestsCount = Model.UserQuests.Count(uq => !uq.IsCanceled);
}

<div class="card">
	<div class="card-body">
		<h1 class="card-title">@Model.Name</h1>
		<div class="quest-details">
			<div class="quest-image">
				<img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" />
			</div>
			<div class="quest-info card-text">
				<p><strong>Miasto:</strong> @Model.City</p>
				<p><strong>Adres:</strong> @Model.Address</p>
				<p><strong>Data rozpoczęcia Questa:</strong> @Model.QuestDateStart.ToShortDateString()<br></p>
				<p><strong>Godzina rozpoczęcia:</strong> @Model.QuestDateStart.ToString("HH:mm")<br></p>
				<p><strong>Data zakończenia zadania:</strong> @Model.QuestDateEnd.ToShortDateString()<br></p>
				<p><strong>Godzina zakończenia:</strong> @Model.QuestDateEnd.ToString("HH:mm")<br></p>
				<p><strong>Ilość miejsc:</strong> @Model.CurrentOccupiedSlots / @Model.SlotLimit <br /></p>
				<p>@Model.Description</p>
				@if (activeQuestsCount < Model.SlotLimit && !Model.UserQuests.Any(uq => !uq.IsCanceled))
				{
					<form method="post" asp-action="Join" asp-route-id="@Model.Id">
						<button type="submit" class="btn btn-success">Dołącz do Questa</button>
					</form>
				}
				else
				{
					<button class="btn btn-danger" disabled>@(activeQuestsCount >= Model.SlotLimit ? "Brak dostepnych miejsc" : "Już dołączyłeś do tego Questa")</button>
				}
				<div style="margin-top: 10px;">
					<a asp-action="Index" class="btn btn-primary">Back to List</a>
				</div>
			</div>
		</div>
	</div>
</div>